{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <div class="card">
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title ">Réalisateurs<span class="float-end"><h6><a class="_link" href="{{path('app_director_index')}}">{{'Ouvrir'|upper}} <i class="fa fa-angle-right"></i></a></h6></span></h4>    
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead class="text-info">
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Nom</th>
                                                    <th>Date de naissance</th>
                                                    <th class="text-center">actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for director in directors %}
                                                <tr>
                                                    <td>{{ director.id }}</td>
                                                    <td>{{ director.nom }}</td>
                                                    <td>{{ director.naissance ? director.naissance|date('d-m-Y') : '' }}</td>
                                                    <td class="text-center">
                                                        <a href="{{ path('app_director_show', {'id': director.id}) }}"><i class="fa fa-eye"></i></a>
                                                        <a class="border"> </a><a class="border"> </a>
                                                        <a href="{{ path('app_director_edit', {'id': director.id}) }}"> <i class="fa fa-pen-nib"></i></a>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="4">no records found</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title ">Films<span class="float-end"><h6><a class="_link" href="{{path('app_movie_index')}}">{{'Ouvrir'|upper}} <i class="fa fa-angle-right"></i></a></h6></span></h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover">
                                            <thead class="text-info">
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Titre</th>
                                                    <th>Réalisateur</th>
                                                    <th class="text-center">actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for movie in movies %}
                                                <tr>
                                                    <td>{{ movie.id }}</td>
                                                    <td>{{ movie.titre }}</td>
                                                    <td>{{ movie.director.nom }}</td>
                                                    <td class="text-center">
                                                        <a href="{{ path('app_movie_show', {'id': movie.id}) }}"><i class="fa fa-eye"></i></a>
                                                        <a class="border"> </a><a class="border"> </a>
                                                        <a href="{{ path('app_movie_edit', {'id': movie.id}) }}"> <i class="fa fa-pen-nib"></i></a>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="4">no records found</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title ">Acteurs<span class="float-end"><h6><a class="_link" href="{{path('app_actor_index')}}">{{'Ouvrir'|upper}} <i class="fa fa-angle-right"></i></a></h6></span></h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive example-wrapper">
                                        <table class="table table-striped table-hover">
                                            <thead class="text-info">
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Nom</th>
                                                    <th>Date de naissance</th>
                                                    <th class="text-center">actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for actor in actors %}
                                                <tr>
                                                    <td>{{ actor.id }}</td>
                                                    <td>{{ actor.nom }}</td>
                                                    <td>{{ actor.naissance ? actor.naissance|date('d-m-Y') : '' }}</td>
                                                    <td class="text-center">
                                                        <a href="{{ path('app_actor_show', {'id': actor.id}) }}"><i class="fa fa-eye"></i></a>
                                                        <a class="border"> </a><a class="border"> </a>
                                                        <a href="{{ path('app_actor_edit', {'id': actor.id}) }}"> <i class="fa fa-pen-nib"></i></a>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="4">no records found</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
